@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  background-color:azure;
}
.title{
  background-color: #f1f1f1;
  height: 80px;
  padding: 1px;
  text-align: center;
}

/* 设置顶部导航栏的样式 */
.topnav {
  overflow: hidden;
  background-color: #80bfbb;
}
/* 设置 topnav 链接的样式 */
.topnav a {
  float: left;
  display: block;
  color: #0c0c0c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* 改变鼠标悬停时的颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* 相对定位-父 */
  position: relative;
}

.one li {
  margin: 10px;

}

/* 隐藏 */
.one ul {
  /* 绝对定位-子 */
  display:inherit;
  background: #CCCCCC;
  display: none;
}

/* 显示 */
.one li:hover ul {
  display: block;
}

.grid-container {display: grid;
  margin: 10px;
  height: 80%;
  grid-template-columns: 15% 85%;
  grid-template-rows:100%;
}
.grid-1 {
  float:left;
}
.grid-2 {
  float:left;
  padding:10px;
}
.sidebar {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
}
#map:focus {
  outline: #4A74A8 solid 0.15em;
  
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/* 新疆点击弹窗显示信息 */
.overlay-container{
  background-color: #80bfbb;
  width:100px;
  height: aoto;
  text-align:center;
  position: absolute;
}
.overlay-container #feature-info::after{
  content:'';
  position: absolute;
  width: 150px;
}

.feature-image {
  display:inline-block;
  width: 60px;
  height: 60px;
  margin-right: 3px;
  margin-left: 3px /* 设置图片之间的间距 */
}
.feature-image.enlarge {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 9999;
  cursor: zoom-out;
}


