@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  background-color:azure;
}
.title{
  height: 100px;
}
.titlewords{
  text-align: center;

}
.grid-container{
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  
}

.sidebar{
  margin-left: 50px;
}


